apiVersion: v1
kind: Service
metadata:
  name: demo-service-nodeport
  namespace: default
  labels:
    app: demo-app
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    app: demo-app
